.progress {
  width: 100%;
  height: 5px;
  position: relative;
  float: left;
  cursor: pointer;
  background: #999;
}

.progress span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.bufferBar {
  z-index: 5;
  width: 0;
  background: yellowgreen;
}
.timeBar {
  z-index: 10;
  width: 0;
  background-color: #ff8d00;
}
